#logo{
    width: 70px;
    height: 70px;
    margin-left: 22px;
    border-radius: 10%;
    mix-blend-mode:darken;
    margin-bottom: 30px;
    padding: 3px;
    display: flex;
}
#h3{
        margin-left: 110px;
        margin-top: -83px;
}
#menudesp a:hover{
   
    transition: 0.3s;
    background-color: orange;
}
a{
    font-family: 'Tilt Neon', cursive;
}
img{
    width: 20rem;
    height: 20rem;
    object-fit:cover;
    
}
#text-footer{
margin-left: -250px;
margin-top: 50px;
}


@media (max-width:800px){
    .card-group{
        display:none;
    }
    #Galeriadeimg{
        width: 800px;
    }
    footer #text-footer {
        margin-left: 0px;
        margin-top: 0;
        width: 300px;
    }
    a{
        display:none;
    }
    img{
        height: 10rem;
        width: 10rem;
    }
    div #proy{
        margin-left: 180px;
        
    }
    div #proy1{
        float: right;
        margin-right: 20px;
    }
    .containerLogos{
        display: flex;
        margin-bottom: -20px;
    }
}
@media (max-width:450px){
    #logo{
        margin-bottom: 40px;
    }
    .card-group{
        display:none;
        
    }
    p{
       width:370px;
    }
    #Galeriadeimg{
        margin-left: 120px;
    }
    a{
        display:none;
    }
    footer #text-footer {
        margin-left: 60px;
        margin-top: 0;
        width: 300px;
        float: left;
    }
    div #proy{
        margin-left: 0px;        
    }
    div #proy1{
        float: left;
        margin-right: 50px;
    }
    .containerLogos{
        display: flex;
        margin-bottom: -30px;
        justify-content: center;        
    }
}
